* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 85%;
}

.main-bg {
    width: 100%;
    background-attachment: fixed;
    background: url(../img/banner.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vw;
    color: white;
}

h1 {
    float: left;
    padding: 6vw 0 0 9vw;
    max-width: 475px;
}

h3 {
    margin-bottom: 0;
}

.grid {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 23px 0;
}

.grid-item {
    background-color: #cdcdcd;
    padding: 10px;
}

.grid-item p {
    margin-top: 7px;
    margin-bottom: 1%;
}

.grid-item a {
    text-decoration: none;
    color: #333;
}

.grid-item:hover {
    background-color: #39c2d7;
}

.grid-item img {
    width: 100%;
    height: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.navigation {
    padding: 16px 0 10px;
}

nav {
    padding: 13px 0 0 30px;
}

nav a {
    padding: 0 15px;
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
}

nav a:hover {
    color: #39c2d7;
}

footer {
    background-color: #39c2d7;
}

footer .flex-row .flex-row {
    width: 40%;
    justify-content: space-around;
}

footer * {
    color: white;
}

footer a {
    padding-top: 16px;
}

footer a:hover {
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .container {
        width: 95%;
    }

    .navigation {
        flex-direction: column;
        align-items: center;
    }

    nav {
        padding-left: 0;
    }

    .main-bg {
        height: 67vw;
    }

    h1 {
        text-align: center;
        margin: 0 20%;
        font-weight: 500;
        font-size: 25px;
        padding-left: 0;
    }

    .grid {
        grid-template: repeat(3, 1fr)/repeat(2, 1fr);
    }

    footer .container > .flex-row {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    footer .flex-row .flex-row {
        width: 70%;
        justify-content: space-around;
    }
}

@media screen and (max-width: 575px) {
    .navigation.container {
        width: 100%;
        padding: 16px 0 0;
    }

    .navigation img {
        width: 30%;
        align-self: center;
        padding-bottom: 2%;
    }

    nav {
        padding: 0;
        width: 100%;
        padding-top: 1%;
        display: flex;
        flex-direction: column;
        border-top: 1px solid #cccccc;
        background-color: #EEEEEE;
    }

    nav a {
        border-bottom: 1px solid #cccccc;
        padding: 13px 8%;
    }

    h1 {
        background-color: #39c2d7;
        font-weight: 600;
        text-align: left;
        margin: 32% 8% 0;
        padding: 3vw;
        font-size: 5vw;
    }

    h3 {
        margin-bottom: 0;
    }

    .grid-item {
        text-align: center;
    }

    .grid {
        grid-template: repeat(3, 1fr)/repeat(1, 1fr);
    }

    .grid-item img {
        padding: 0 7%;
    }

    footer .flex-row .flex-row {
        flex-direction: column;
        align-items: center;
    }

    footer a:not(:first-child) {
        padding-top: 5px;
    }
}