.upper_panel {
    padding-top: 2%;
    margin: 0 3%;
    justify-content: space-between;
    input {
        border: transparent;
        font-size: 22px;
        &::placeholder {
            color: rgb(204, 204, 204);
        }
        &:focus {
            outline-width: 0;
        }
    }
    .thumbnail_container {
        margin-top: -2%;
        .thumbnail {
            display: inline-block;
            width: 40px;
            height: 50px;
            background: white;
            border-radius: 6%;
            position: relative;
            &.purple {
                border: 2px solid rgb(133, 133, 204);
                width: 50px;
            }
            &.lightpurple {
                border-top: 2px solid rgb(167, 178, 221);
                border-left: 2px solid rgb(167, 178, 221);
                border-bottom: 2px solid rgb(167, 178, 221);
                width: 30px;
            }
            &.grey {
                border-top: 2px solid rgb(219, 215, 244);
                border-left: 2px solid rgb(219, 215, 244);
                border-bottom: 2px solid rgb(219, 215, 244);
                width: 30px;
            }
            &:last-child {
                width: 50px;
            }
        }
    }
}

.close_button {
    position: absolute;
    background-color: red;
    border-radius: 50%;
    color: white;
    margin-top: -5px;
    margin-left: -5px;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.counter {
    text-align: right;
    color: rgb(204, 204, 204);
    margin-right: 4%;
    font-size: 20px;
}

.not_found {
    text-align: center;
    color: rgb(204, 204, 204);
    padding-top: 5%;
}

.color_container {
    margin: 2% 5%;
    text-align: center;
    .block_color {
        display: inline-block;
        width: 250px;
        height: 250px;
        border-radius: 5%;
        margin: 15px;
        position: relative;
        button {
            background-color: white;
            position: absolute;
            bottom: 5%;
            left: 5%;
            border-radius: 5%;
            border: transparent;
            width: 70px;
            height: 25px;
            font-size: 16px;
            .add {
                font-size: 15px;
                padding-right: 3px;
            }
        }
    }
}