<div class="table-title">
    <h3>Epam FE Lab #8</h3>
    <button class="add-button" (click)="addClass()">Add</button>
</div>
<table class="main-table">
    <thead>
        <tr>
            <th class="id">#</th>
            <th class="topic">Topic</th>
            <th class="date">Date</th>
            <th class="lecturer">Lecturer</th>
            <th class="actions">Actions</th>
        </tr>
    </thead>
    <tbody>
        <app-class [class]="class" *ngFor="let class of classArr"></app-class>
    </tbody>
</table>