h3 {
    padding-left: 50px;
}

/* th.id {
    width: 30px;
}

th.topic {
    width: 198px;
}

th.date {
    width: 125px;
}

th.lecturer {
    width: 158px;
}

th.actions {
    width: 144px;
} */

.table-title {
    display: flex;
    flex-direction: row;
}

.table-title h3 {
    margin: 0;
}

.table-title button {
    margin-left: 50px;
    padding: 5px 15px;
    margin-bottom: 15px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.arr {
    display: table-row;
}

.warning_message::placeholder {
    color: red;
}

thead {
    display: table-row;
}