body {
    background-color: rgb(28,28,30);
}

h1, span {
    color: rgb(161, 158, 137);
}

h3 {
    color: rgb(214, 209, 186);
    text-transform: uppercase;
    text-align: center;
}

.tank_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    max-width: 250px;
}