*{
    margin: 0;
}

.id {
    padding: 0 10px;
}

.topic,
.date,
.lecturer {
    width: 200px;
}

.actions {
    width: 145px;
}

.actions button {
    margin-left: 15px;
    width: 50px;
}

th,td {
    border: 1px solid black;
    border-collapse: collapse;
}

input {
    width: 196px;
}