* {
    margin: 0;
}

.id {
    width: 30px;
    text-align: center;
}

.topic,
.topic input {
    width: 200px;
    margin: 0;
    padding: 0;
}

.lecturer,
.lecturer input {
    width: 160px;
    margin: 0;
    padding: 0;
}

.actions {
    width: 145px;
    margin: 0;
    padding: 0;
}

.date,
.date input {
    width: 125px;
}

.actions button {
    margin-left: 15px;
    width: 50px;
}

th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

input {
    width: 196px;
}

*:focus {
    outline: 0;
    outline-offset: 0;
}