// VALUES
$mainBgColor: #dcbb9a;
$headingImgBorder: #893c00;
$tableBgColor: #ffffff;
$tableFrame: #e0e0e0;
$contentBgColor: #ffffff;
$briefBgColor: #fadcba;
$pColor: black;
$linkColor: #4072a2;
$infoBorderColor:#e4e4e4;
$formTitles: #8a8a8a;
$marginPaddingConst: 20px;
$briefRight: 20px;
$briefBottom: 0;
$briefPosition: left;
$textTransform: none;
$customWidth: 50%;