// VALUES
$mainBgColor: #e0f6fd;
$headingImgBorder: #fccd10;
$tableBgColor: #677d01;
$tableFrame: #94a34e;
$contentBgColor: #3b3b3b;
$briefBgColor: #fff178;
$pColor: white;
$linkColor: #fccd10;
$infoBorderColor:#89964c;
$formTitles: #fccd10;
$marginPaddingConst: 20px;
$briefRight: 0;
$briefBottom: 40px;
$briefPosition: none;
$textTransform: uppercase;
$customWidth: initial;